@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:wght@300;400&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: #030E27;
}

.card-deck {
  display: flex;
  justify-content: center;
  height: 100vh;
}